@font-face {
    font-family: 'terminalvector';
    src: url(fonts/TerminalVector.ttf);
}

html {
    font-family: terminalvector, Arial;
}

body {
	margin:0px;
	padding:0px;
}

button {
    font-family: terminalvector, terminalvector, arial, helvetica, sans-serif;
    font-size: 1.2em;
    background: #222;
    border: 5px solid #9bbc0f;
    color: #9bbc0f;
    padding: 10px;
}

button:hover {
    border: 5px solid #ceff33;
    color: #ceff33;
    cursor: pointer;
}

#game-area {
	margin:0px;
	padding:0px;
}

#high-score {
    position: relative;
    left: 200px;
    bottom: 50px;
}

#mode-wrapper {
    color: #ffffff;
    font-family: terminalvector, arial, helvetica, sans-serif;
    font-size: 14px;
    
}

#game-area:focus { outline: none; }

a.snake-link, a.snake-link:link, a.snake-link:visited {
  color: #222;
}

a.snake-link:hover {
  color: #222;
}

.snake-pause-screen {
    font-family: terminalvector, arial, helvetica, sans-serif;
    font-size: 14px;
    position:absolute;
    width:300px;
    height:80px;
    text-align:center;
    top:50%;
    left:50%;
    margin-top:-40px;
    margin-left:-150px;
    display:none;
    background-color:black;
    color:white;
}

.snake-panel-component {
    position: absolute;
    font-family: terminalvector, arial, helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    background-color: #333;
    padding: 8px;
    margin: 0px;
}

.snake-snakebody-block {
    margin: 0px;
    padding: 0px;
    position: absolute;
    border: 0px solid transparent;
    background-repeat: no-repeat;
}

.snake-snakebody-alive {
   background-image: url('./images/snakeblock.png');
}
.snake-snakebody-dead {
   background-image: url('./images/deadblock.png');
}

.snake-food-block {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #900000;
    border: 1px solid #9bbc0f;
    position: absolute;
}

.snake-playing-field {
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: #9bbc0f;
    border: 0px solid #9bbc0f;
}

.snake-game-container {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: none;
    zoom: 1;
    background-color: #333;
    position: relative;
}
            
.snake-welcome-dialog {
    padding: 20px;
    margin: 0px;
    background-color: #222;
    color: rgb(211, 255, 17);
    font-family: terminalvector, arial, helvetica, sans-serif;
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%,-50%);
    text-align: center;
    display: block;
}

.snake-try-again-dialog {
    box-sizing: border-box;
    padding: 20px 40px;
    margin: 0px;
    background-color: #222;
    color: rgb(211, 255, 17);
    font-family: terminalvector, arial, helvetica, sans-serif;
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%,-50%);
    text-align: center;
    display: none;
    z-index: 1;
    }

#switch {
    display: none;
}

.switch-label {
    display: inline-block;
    cursor: pointer;
    background: #fff;
    color: #111;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 2px #666;
}
.switch-label::after {
    content: "on";
}
.switch-label::before {
    content: " ";
    display: inline-block;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background: #003321;
    margin-right: 10px;
    border: 1px solid #111;
}
.switch-label:active {
    box-shadow: none;
    transform: translate3d(0, 2px, 0);
}

#switch:checked + .switch-label::before {
    background: #22ff55;
}
#switch:checked + .switch-label::after {
    content: "off";
}

@keyframes flicker {
    0% {
        opacity: 0.62543;
    }
    5% {
        opacity: 0.70954;
    }
    10% {
        opacity: 0.68068;
    }
    15% {
        opacity: 0.01198;
    }
    20% {
        opacity: 0.03637;
    }
    25% {
        opacity: 0.2055;
    }
    30% {
        opacity: 0.9676;
    }
    35% {
        opacity: 0.88567;
    }
    40% {
        opacity: 0.39532;
    }
    45% {
        opacity: 0.79521;
    }
    50% {
        opacity: 0.39823;
    }
    55% {
        opacity: 0.98341;
    }
    60% {
        opacity: 0.93469;
    }
    65% {
        opacity: 0.51859;
    }
    70% {
        opacity: 0.59784;
    }
    75% {
        opacity: 0.11933;
    }
    80% {
        opacity: 0.69654;
    }
    85% {
        opacity: 0.21383;
    }
    90% {
        opacity: 0.51292;
    }
    95% {
        opacity: 0.10412;
    }
    100% {
        opacity: 0.41643;
    }
}
.container {
    background: #121010;
    position: relative;
    overflow: hidden;
    border: 2px solid #666;
}
.container::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
}
.container::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

#switch:checked ~ .container::after {
    animation: flicker 0.15s infinite;
}

.screen {
    width: 100%;
    height: 100%;
    border: none;
}

#switch ~ .container > .screen {
    animation: turn-off 0.55s cubic-bezier(0.23, 1, 0.32, 1);
    animation-fill-mode: forwards;
}

#switch:checked ~ .container > .screen {
    animation: turn-on 4s linear;
    animation-fill-mode: forwards;
}

@keyframes overlay-anim {
    0% {
        visibility: hidden;
    }
    20% {
        visibility: hidden;
    }
    21% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}
.overlay {
    color: #00FF00;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 60px;
    visibility: hidden;
    pointer-events: none;
}

#switch:checked ~ .container .overlay {
    animation: overlay-anim 5s linear;
    animation-fill-mode: forwards;
}

/*.scanlines {
    position: relative;
    overflow: hidden;
}
.scanlines:before, .scanlines:after {
    display: block;
    pointer-events: none;
    content: '';
    position: absolute;
}
.scanlines:before {
    width: 100%;
    height: 2px;
    z-index: 2147483649;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0.75;
    -webkit-animation: scanline 12s linear infinite;
    animation: scanline 12s linear infinite;
}
.scanlines:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483648;
    background: -webkit-linear-gradient(top, transparent 50%, rgba(0, 0, 0, 0.3) 51%);
    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.3) 51%);
    background-size: 100% 4px;
    -webkit-animation: scanlines 1s steps(60) infinite;
    animation: scanlines 1s steps(60) infinite;
}

/* ANIMATE UNIQUE SCANLINE */
@-webkit-keyframes scanline {
    0% {
        -webkit-transform: translate3d(0, 200000%, 0);
        transform: translate3d(0, 200000%, 0);
    }
}
@keyframes scanline {
    0% {
        -webkit-transform: translate3d(0, 200000%, 0);
        transform: translate3d(0, 200000%, 0);
    }
}
@-webkit-keyframes scanlines {
    0% {
        background-position: 0 50%;
    }
}
@keyframes scanlines {
    0% {
        background-position: 0 50%;
    }
}
/* PRESENTATION STUFF */
a {
    display: block;
    padding: 1em;
    margin: 0 auto;
    width: 80%;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
a#togglescanlines {
    position: absolute;
    width: 182px;
    top: 300px;
    right: 58px;
    border-width: 10px;
    background: rgba(0, 0, 0, 0.4);
}
a:hover {
    color: #fff;
}

nav {
    float: right;
    width: 350px;
    text-align: center;
}

ul {
    display: inline-block;
    margin: 0;
    list-style-type: none;
    padding: 0;
}
ul.scanlines {
    position: absolute;
}
ul iframe,
ul video,
ul .jpg {
    width: calc(100vw - 350px);
    height: 95vh;
    border: none;
}
ul li {
    /*        display: none;

            &:target {
                display: inline-block;
            }*/
}

